@import url('https://fonts.googleapis.com/css2?family=Lilita One&display=swap');

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.title {
  color: black;
  font-size: 5rem;
  margin: 20px 0;
  font-family: 'Lilita One', sans-serif;
}

.sub-title {
  font-size: 1.6rem;
}

.date {
  margin: 5px 0;
}

.descricao {
  font-size: 1.1rem;
  text-align: justify;
  margin: 20px 0;
}

.imagem {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
    text-align: center;
  }

  .sub-title {
    text-align: center;
  }

  .date {
    text-align: center;
  }
}
